

<html>
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<div class="container">
<nav class="navbar navbar-inverse">
<a class="navbar-brand" href="/account">Social Network</a>

          <div id="navbar" class="navbar-collapse collapse">

              {% if user.is_authenticated %}

              <ul class="nav navbar-nav">
                  <li><a href="/account">Home</a></li>
                  <li><a href="/account/logout">logout</a></li>
                  <li><a href="/account/profile">Profile</a></li>
                  <li><a href="/account/profile/edit">Edit</a></li>

              </ul>
              {% else %}

        <ul class="nav navbar-nav navbar-right">
      <li><a href="/account/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> Log</a></li>
    </ul>

      {% endif %}

</nav>
</div>


    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    {% block head %}
    {% endblock %}

</head>


<body>

{% block body %}
{% endblock %}
</body>
</html>