

<html>
<head>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<br/>
<div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">Social Network</a>

          <div id="navbar" class="navbar-collapse collapse">

              {% if user.is_authenticated %}

              <ul class="nav navbar-nav">
                  <li><a href="/account">Home</a></li>
                  <li><a href="/account/logout">logout</a></li>
                  <li><a href="/account/profile">Profile</a></li>

              </ul>


              {% else %}

              <ul class="nav navbar-nav">

                  <li><a href="/account/login">logi</a></li>
                  <li><a href="/account/register">Register</a></li>

              </ul>

              {% endif %}
          </div>

        </nav>
</div>
</br>






    {% block head %}

    {% endblock %}
</head>

<body>

{% block body %}

{% endblock %}

</body>
</html>